services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: backend_app
    restart: unless-stopped
    user: '1000:1000'
    ports:
      - '3000:3000'
    env_file:
      - .env
    volumes:
      - .:/usr/src/app
    depends_on:
      mariadb:
        condition: service_healthy
    networks:
      - backend_app_network

  mariadb:
    image: mariadb:11.2
    container_name: backend_database
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: backend_database_rootpass
      MYSQL_CHARACTER_SET_SERVER: utf8mb4
      MYSQL_COLLATION_SERVER: utf8mb4_unicode_ci
    ports:
      - '3307:3306'
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./docker/mariadb/init:/docker-entrypoint-initdb.d
      - ./docker/mariadb/conf:/etc/mysql/conf.d
    networks:
      - backend_app_network
    healthcheck:
      test: ['CMD', 'healthcheck.sh', '--connect', '--innodb_initialized']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

volumes:
  mariadb_data:
    driver: local

networks:
  backend_app_network:
    driver: bridge
